<div class="fb-like" data-href="https://www.facebook.com/themonkeyandthedogeatthai/" data-layout="standard"
     data-action="like" data-size="large" data-show-faces="{{show-faces}}" data-share="true"></div>