
$palette-blue: #265975;
$palette-grey: #5C6672;
$palette-gold: #E2C599;

.bg-palette-blue {
  color: $white;
  background-color: $palette-blue;
}

.bg-palette-grey {
  color: $white;
  background-color: $palette-grey;
}
