<div class="jumbotron jumbotron-fluid theme-bg">
  <div class="container">
    <h1 class="display-3">Find us</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="row mt-3">
        <div class="col">
          <div class="p-3 theme-bg theme-panel text-center">
            <address>
              <strong>The Monkey and the Dog Eat Thai</strong><br>
              85 Clarence Street<br>
              York<br>
              YO31 7EL
            </address>
            <abbr title="Telephone">Tel:</abbr> <a href="tel:01904 466754"><strong>01904 466754</strong></a><br>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="p-3 theme-bg theme-panel text-center">
            <h4><u>OPENING TIMES</u></h4>
            <strong>MONDAY</strong><br>
            17:00 - 22:00<br>
            <strong>TUESDAY - FRIDAY</strong><br>
            12:00 - 14:30<br>
            17:00 - 22:00<br>
            <strong>SATURDAY</strong><br>
            17:00 - 22:00<br>
            <strong>CLOSED SUNDAYS</strong><br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-8 mt-3">
      {{google-maps}}
    </div>
    <div class="col-12 col-sm-12 mt-3 text-center">
      {{fb-page-plugin}}
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=508994146102012";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>