<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12 col-sm-6">
      <img class="img-fluid panel" style="min-width: 100%;" src="assets/images/red-curry.jpg">
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-palette-grey panel panel-outline w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center">
        <h4><u>OPENING TIMES</u></h4>
        <p>
          <strong>MONDAY</strong><br>
          17:00 - 22:00<br>
        </p>
        <p>
          <strong>TUESDAY - FRIDAY</strong><br>
          12:00 - 14:30<br>
          17:00 - 22:00<br>
        </p>
        <p>
          <strong>SATURDAY</strong><br>
          17:00 - 22:00<br>
        </p>
        <strong>CLOSED SUNDAYS</strong>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 col-sm-6">
      <div class="bg-palette-grey panel panel-outline w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center">
        <h4><u>ADDRESS</u></h4>
        85 Clarence Street<br>
        York<br>
        YO31 7EL
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid panel" style="min-width: 100%;" src="assets/images/shop-front.jpg">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <div class="bg-palette-blue panel panel-outline w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
        <div>LOCAL HOME DELIVERY SERVICE</div>
        <div>MINIMUM ORDER £15.00 / DELIVERY CHARGE £1.00</div>
      </div>
    </div>
  </div>
</div>